<!DOCTYPE html>
@model List<LibrarySystemManagement.Models.BookListViewModel>
@{
    ViewData["Title"] = "List of books";
}

<html>
<head>
    <title>@ViewData["Title"]</title>
</head>
<body>
    <a asp-controller="Books" asp-action="BookForm" class="btn btn-outline-primary">Add Book</a>
    <h2 class="text-center mb-4">List of books</h2>
    <table class="table text-center" style="background-color: #f2f2f2;">
        <tr>           
            <th scope="col">ID</th>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col">Category</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th></th>
            <th></th>
        </tr>
        <tbody>
            @foreach (var book in Model)
            {
                <tr>
                    <td style="padding-top: 3mm; padding-bottom: 2mm;">@book.Id</td>
                    <td style="padding-top: 3mm; padding-bottom: 2mm;">@book.Title</td>
                    <td style="padding-top: 3mm; padding-bottom: 2mm;">@book.Author</td>
                    <td style="padding-top: 3mm; padding-bottom: 2mm;">@book.Category</td>
                    <td></td>
                    <form asp-controller="Books" asp-action="DeleteBook" asp-route-id="@book.Id" method="post">
                    <td><button type="submit" class="btn btn-outline-danger btn-sm" style="font-size: 14px;width:80px; height: 30px;">Delete</button></td>
                    </form>
                    <td>
                        <a asp-controller="Books" asp-action="BookForm" asp-route-id="@book.Id" class="btn btn-outline-primary btn-sm" style="font-size: 14px;width:80px; height: 30px;">Update</a>
                    </td>
                    <td>
                        <a asp-controller="BookInstances" asp-action="BookInstanceForm" asp-route-id="@book.Id" class="btn btn-outline-primary btn-sm" style="font-size: 14px;width:80px; height: 30px;"> Add  </a>
                    </td>
                </tr>
            }

        </tbody>
    </table>
</body>
</html>

