<!DOCTYPE html>
@model LibrarySystemManagement.Models.FreeBooksViewModel
@{
    ViewData["Title"] = "Libray cart";
}
<html>
<head>
    <title>@ViewData["Title"]</title>
</head>
<body>

    <h2 class="text-center mb-4">List of free books</h2>
    <table class="table text-center" style="background-color: #f2f2f2;">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col">Category</th>
            <th scope="col">Status</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tbody>
            @foreach (var book in Model.Books)
            {
                <tr>
                    <td style="padding-top: 3mm; padding-bottom: 2mm;">@book.Id</td>
                    <td style="padding-top: 3mm; padding-bottom: 2mm;">@book.Title</td>
                    <td style="padding-top: 3mm; padding-bottom: 2mm;">@book.Author</td>
                    <td style="padding-top: 3mm; padding-bottom: 2mm;">@book.Category</td>
                    <td style="padding-top: 3mm; padding-bottom: 2mm;">                       
                            <td></td>
                             <form asp-controller="BorrowingBooks" asp-action="RentBookUserById" asp-route-bookId="@book.Id" asp-route-readerId="@Model.ReaderId" method="post">
                               <td><button type="submit" class="btn btn-outline-success btn-sm" style=" font-size: 14px;">Lend the book</button></td>
                             </form>                      
                </tr>
            }
        </tbody>
    </table>
</body>
</html>